body {
  background-color: #303030;
}

.desktop {
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #303030;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .overlap-group {
  position: absolute;
  width: 850px;
  height: 500px;
  top: 262px;
  left: 295px;
  background-color: #454545;
  border-radius: 40px;
  box-shadow: inset 0px 4px 10px 3px #252525;
}

.desktop .text-wrapper {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 51px;
  left: 324px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Kufam-Regular", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .username-box {
  position: absolute;
  width: 735px;
  height: 85px;
  top: 178px;
  left: 58px;
  background-color: #545454;
  border-radius: 20px;
  border: 1px solid;
  border-color: #444444;
  box-shadow: 0px 4px 4px #00000040;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Kufam-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .password-box {
  position: absolute;
  width: 735px;
  height: 85px;
  top: 339px;
  left: 58px;
  background-color: #545454;
  border-radius: 20px;
  border: 1px solid;
  border-color: #444444;
  box-shadow: 0px 4px 4px #00000040;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Kufam-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .username-prompt {
  position: absolute;
  width: 130px;
  top: 146px;
  left: 60px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Kufam-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .password-prompt {
  position: absolute;
  width: 130px;
  top: 307px;
  left: 60px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #808080;
  font-family: "Kufam-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .button-open-links {
  position: absolute;
  width: 158px;
  height: 83px;
  top: 1272px;
  left: -38px;
}